imports:
    - { resource: "services/command.composer.xml" }
    - { resource: "services/command.core.xml" }
    - { resource: "services/command.editor.xml" }
    - { resource: "services/command.project.build.xml" }
    - { resource: "services/command.project.composer.xml" }
    - { resource: "services/command.project.config.xml" }
    - { resource: "services/command.project.cs.xml" }
    - { resource: "services/command.project.editor.xml" }
    - { resource: "services/command.project.git.xml" }
    - { resource: "services/command.project.lint.xml" }
    - { resource: "services/command.project.symfony.xml" }
    - { resource: "services/command.project.test.xml" }
    - { resource: "services/command.project.xml" }
    - { resource: "services/command.vagrant.xml" }
    - { resource: "services/command.vm.xml" }
    - { resource: "services/services.xml" }

parameters:
    projects_config_file_path: "%working_dir%/config/projects.json"

    editor_config_dir: "%working_dir%/config"
    editor_project_external_folders_config:
        - { name: "bundles", path: "%working_dir%/projects/bundles", follow_symlinks: "false" }
    editor_skeleton_dir: "%jarvis_dir%/skeleton/editor"

    local_projects_root_dir: "%working_dir%/projects"
    remote_projects_root_dir: "/srv/www"

    local_vendor_root_dir: "%working_dir%/vendor"
    remote_vendor_root_dir: "/home/vagrant/vendor"

    local_build_dir: "%working_dir%/build"
    remote_build_dir: "/home/vagrant/build"

    local_cdn_root_dir: "%working_dir%/assets"

    local_tmp_staging_area_root_dir: "%working_dir%/.tmp_staging"
    remote_tmp_staging_area_root_dir: "/home/vagrant/.tmp_staging"

    local_vagrant_dir: "%working_dir%/vagrant"

    local_phpcs_standard_dir: "%jarvis_dir%/skeleton/phpcs/Standards/php"
    remote_phpcs_standard_dir: "/home/vagrant/jarvis/phpcs/Standards/php"

    ssh_user: "vagrant"
    ssh_host: "127.0.0.1"
    ssh_port: 2222

    git_hooks_skeleton_dir: "%jarvis_dir%/skeleton/git_hooks"
    php_cs_fixer_skeleton_dir: "%jarvis_dir%/skeleton/php_cs_fixer"

    command.vm.php_tools:
        composer:
            url: 'https://getcomposer.org/composer.phar'
            dest: '/usr/local/bin/composer'
            version_option: '--version'
            update_command: '{{dest}} self-update'
        box:
            url: 'https://github.com/box-project/box2/releases/download/2.6.0/box-2.6.0.phar'
            dest: '/usr/local/bin/box'
            version_option: '--version'
            #install_command: 'curl -LSs http://box-project.github.io/box2/installer.php | php'
            #update_command: '{{dest}} update'
        phpspec:
            url: 'https://github.com/phpspec/phpspec/releases/download/2.2.1/phpspec.phar'
            dest: '/usr/local/bin/phpspec'
            version_option: '--version'
        phpunit:
            url: 'https://phar.phpunit.de/phpunit-4.8.9.phar'
            dest: '/usr/local/bin/phpunit'
            version_option: '--version'
        php-cs-fixer:
            url: 'http://get.sensiolabs.org/php-cs-fixer.phar'
            dest: '/usr/local/bin/php-cs-fixer'
            version_option: '--version'
        phpcs:
            url: 'https://squizlabs.github.io/PHP_CodeSniffer/phpcs.phar'
            dest: '/usr/local/bin/phpcs'
            version_option: '--version'
        php-parallel-lint:
            url: 'https://github.com/JakubOnderka/PHP-Parallel-Lint.git'
            dest: '/usr/local/bin/php-parallel-lint'
            version_command: '{{dest}} --help | awk ''/version/'''
            install_command: 'rm -fr /tmp/{{name}} && git clone {{url}} /tmp/{{name}} && cd /tmp/{{name}} && COMPOSER_HOME=. composer install -vvv && box build -vvv && sudo mv parallel-lint.phar {{dest}}'
        php-metrics:
            url: 'https://github.com/Halleck45/PhpMetrics/raw/master/build/phpmetrics.phar'
            dest: '/usr/local/bin/phpmetrics'
            version_option: '--version'

    command.project.enabled: true
    command.editor.enabled: true
    command.project.build.enabled: true
    command.project.cs.enabled: true
    command.project.editor.enabled: true
    command.project.git.enabled: true
    command.project.php.enabled: true
    command.project.composer.enabled: true
    command.project.symfony.enabled: true
    command.project.symfony.assets.enabled: true
    command.project.test.enabled: true
    command.project.lint.enabled: true
    command.vagrant.enabled: true
    command.vm.enabled: true
    command.vm.blackfire.enabled: true
    command.composer.enabled: true
